
/*.container{

    background-image: url("../assets/img/fondoCanvas.jpg");
    text-align: center;
    background-position: center;
    background-size: cover;
    background-color: aqua;

}*/

.container_Navbar{

    background-color:bisque;
}

