
/*.container{

    background-image: url("../assets/img/fondoCanvas.jpg");
    text-align: center;
    background-position: center;
    background-size: cover;
    background-color: aqua;

}*/
body{
    margin: 0%;
    padding: 0%;
}
.container_Navbar{

    background-color:bisque;
}

